.sideLine {
    width: 300px;
    height: 100vh;
    background: #343d7a;
    color: white;
    text-align: center;
    display: inline-block;
}
.sideLine > h6 {
    font-weight: 400;
    margin: 0;
    color: rgba(255,255,255,0.5);
}
.sideLine > h1 {
    margin: 20px 0 0 0;
}
.container {
    display: flex;
}