.items-list {
    width: 350px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

input[type=text] {
    width: 250px;
    margin-left: 10px;
}

.items-list > button {
    margin-left: 5px;
}

.items-list > p {
    padding: 0 10px;
    margin: 0;
    font-size: 24px;
    color: grey;
}

.items-list > ul {
    padding: 0;
    width: 330px;
    margin-left: 10px;
    padding-bottom: 10px;
    list-style: none;
}

.item {
    border: 1px solid rgba(0,0, 0, 0.3);
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    line-height: 37px;
    font-size: 18px;
}

.item:not(:first-child) {
    border-top: none;
}

.item-active {
    border: 1px solid rgba(0,0, 0, 0.3);
    border-left: 5px solid green;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    line-height: 37px;
    font-size: 18px;
}

.delete-side {
    float: right;
}
.delete-side > button {
    border: 1px solid darkred;
    color: darkred;
    height: 25px;
    background: none;
    -webkit-appearance: none;
    appearance: none;
    
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.delete-side > button:hover {
    border: 1px solid darkred;
    color: white;
    background-color: darkred;
    cursor: pointer;
}


.comment-counter {
    display: inline-block;
    margin: 0 10px;
    color: white;
    height: 22px;
    width: 22px;
    line-height: 20px;
    text-align: center;
    padding-right: 1px;
    font-size: 13px;
    background-color: steelblue;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}



